.carousel {
    width: 100%;
    height: auto;
    margin-top: 44px;
    position: relative;
    &__item {
        width: 118px;
        height: auto;
        &_icons {
            width: 100%;
        }
        &_icon {
            width: 68px;
            height: 68px;
            display: block;
            margin: 0 auto;
            img {
                width: 100%;
                display: block;
                height: 100%;
                object-fit: contain;
            }
        }
        &_text {
            margin-top: 28px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: #505050;
        }
    }
    .owl-next{
        position: absolute;
        top: -5px;
        right: 0;
        border: none;
        width: 60px;
        height: 61px;
        img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .owl-theme .owl-nav {
        margin-top: 0;
    }
}