.divide {
    min-height: 346px;
    margin-top: 29px;
    padding: 16px 38px 27px 29px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;               
    -ms-border-radius: 10px;
    box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    color: #505050;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}