.main {
    overflow: hidden;
    background: #fefefe;
    padding-bottom: 85px;
    &__container {
        top: -275px;
        width: 100%;
        margin-bottom: -275px;
        position: relative;
    }
    &__over {
        display: flex;
        width: 100%;
    }
}