header {
    min-height: 93px;
    background-color: #2e2d37;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    position: relative;
    .hamburger {
        display: none;
    }
}
nav {
    padding: 25px 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.menu {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    list-style-type: none;
    &__item {
        padding-right: 36px;
        position: relative;
        &:hover::before {
            content: "";
            width: 6px;
            height: 6px;
            background-color: #32a961;
            margin-top: 14px;
            border-radius: 50%;
            position: absolute;
            top: -38px;
            left: 31px;
        }
        &:hover:nth-child(5)::before {
            content: "";
            width: 6px;
            height: 6px;
            background-color: #32a961;
            margin-top: 14px;
            border-radius: 50%;
            position: absolute;
            top: -38px;
            left: 15px;
        }
        a {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
        }
    }
    &__rus {
        font-size: 14px;
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__registr {
        max-width: 678px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        &_btn {
            max-width: 207px;
            width: 100%;
            height: 42px;
            border-radius: 21px;
            background-color: #ffffff;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            border: none;
            &:first-child {
                border: solid 1px #ffffff;
                background-color: #2e2d37;
            }
            &:nth-child(2) {
                background-color: #32a961;
            }
            &:nth-child(3) {
                color: #2e2d37;
            }
        }
    }
}
