.phone {
    position: relative;
    &__img {
        position: absolute;
        z-index: 5;
        left: 158px;
        top: 140px;
        max-width: 614px;
        img {
            width: 100%;
            display: block;
        }

    }
}