.popup {
    position: fixed;
    display: block;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100000;
    &.active {
        transition: 0.3s all;
        visibility: inherit;
    }
    .block {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 800px;
        display: block;
        margin: 0 auto;
    }
    &__slider {
        width: 100%;
        #sync1 {
            position: relative;
            .item img {
                max-height: 425px;
            }
            .owl-nav {
                position: absolute;
                width: 100%;
                height: 0px;
                top: 50%;
                z-index: 999;
            }
            .owl-prev {
                position: absolute;
                left: 0px;
                top: -25px;
                width: 30px;
                height: 50px;
                border: none;
                line-height: 1;
                font-size: 38px;
                transition: all 0.2s;
            }
            .owl-next {
                position: absolute;
                right: 0px;
                top: -25px;
                width: 30px;
                height: 50px;
                border: none;
            }
        }
        #sync2 {
            margin-top: 5%;
            width: 100%;
            .item img {
                max-height: 115px;
            }
        }
    }
    span[aria-label="Previous"],
    span[aria-label="Next"] {
        display: none;
    }
}
