.residence {
    width: 1050px;
    min-height: 1358px;
    margin-top: 29px;
    padding: 15px 27px 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;               
    -ms-border-radius: 10px; 
    box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    &__wrap {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        min-height: 25px;
        margin-bottom: 50px;
        &-flex {
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -moz-box;
            max-width: 232px;
            width: 100%;
        }
        &_icons {
            width: 31px;
            height: 31px;
            img {
                width: 100%;
            }
        }
        &_text {
            margin-left: 12px;
            font-size: 16px;
            font-weight: 400;
            color: #505050;
        }
    }
    &__column {
        max-width: 635px;
        width: 100%;
        margin-left: 25px;
        font-size: 16px;
        font-weight: 400;
        color: #505050;
        &_col {
            position: relative;
            margin-top: 11px;
            margin-bottom: 24px;
            max-width: 450px;
            width: 100%;
        }
        &_relativ {
            width: 100%;
            height: 18px;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;               
            -ms-border-radius: 9px; 
            background-color: #e7e7e7;  
        }
        &_absolut {
            width: 225px;
            height: 18px;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;               
            -ms-border-radius: 9px;  
            background-color: #32a961;
            position: absolute;
            top: 0;
            right: 0;
            &-left {
                left: 0;
            }
        }
        &_txt {
            font-size: 16px;
            font-weight: 400;
            color: #505050;
            margin-top: 18px;
            span {
                font-weight: 600;
            }
        }
        &_option {
            width: 732px;
            min-height: 54px;
            padding: 11px 57px 8px 23px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;               
            -ms-border-radius: 10px;  
            background-color: #e7e7e7;
            font-size: 16px;
            font-weight: 400;
            color: #505050;
        }
        &_options {
            margin-top: 43px;
            min-height: 53px;
        }
        &_span {
            float: left;
            margin-right: 64px;
            font-size: 16px;
            font-weight: 700;
            color: #505050;
            width: 121px;
        }
        &_pay img {
            width: 61px;
            height: 36px;
            margin-right: 23px;
        }

    }
    &__block {
        margin-top: 60px;
    }

}