.residence {
    max-width: 1050px;
    width: 100%;
    margin-top: 29px;
    padding: 35px 28px 50px;
    border-radius: 10px;
    box-shadow: 1.7px 13.9px 74.5px 1.5px rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    overflow: hidden;
    &__wrap {
        display: flex;
        min-height: 25px;
        margin-bottom: 50px;
        position: relative;
        font-size: 16px;
        &-flex {
            max-width: 232px;
            width: 100%;
            height: 35px;
        }
        &_icons {
            width: 32px;
            height: 54px;
            float: left;
            margin-right: 13px;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        &_text {
            margin-left: 12px;
            font-weight: 400;
            color: #505050;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__column {
        max-width: 635px;
        width: 100%;
        margin-left: 25px;
        font-weight: 400;
        color: #505050;
        position: relative;
        &_time  {
            position: absolute;
            top: -10px;
        }
        &_col {
            position: relative;
            margin-top: 11px;
            margin-bottom: 24px;
            max-width: 450px;
            width: 100%;
        }
        &_relativ {
            width: 100%;
            height: 18px;
            border-radius: 9px;
            background-color: #e7e7e7;
        }
        &_absolut {
            max-width: 50%;
            width: 100%;
            height: 18px;
            border-radius: 9px;
            background-color: #32a961;
            position: absolute;
            top: 0;
            right: 0;
            &-left {
                left: 0;
                max-width: 40%;
            }
        }
        &_txt {
            font-weight: 400;
            color: #505050;
            span {
                font-weight: 600;
            }
        }
        &_option {
            max-width: 732px;
            width: 100%;
            min-height: 54px;
            padding: 11px 57px 8px 23px;
            border-radius: 10px;
            background-color: #e7e7e7;
            font-weight: 400;
            color: #505050;
        }
        &_options {
            margin-top: 43px;
            display: flex;
            justify-content: space-between;
        }
        &_span {
            margin-right: 34px;
            font-weight: 700;
            color: #505050;
            max-width: 150px;
        }
        &_pay img {
            width: 61px;
            height: 36px;
            margin-right: 23px;
            margin-bottom: 18px;
        }
    }
    &__block {
        margin-top: 60px;
        .residence__wrap .residence__wrap_text {
            top: 0;
            transform: translateY(0);
        }
    }
}