.response {
    width: 100%;
    padding-top: 13px;
    height: 389px;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    &__feedback {
        font-size: 30px;
        font-weight: 700;
        color: #2e2d37;
    }
    &__rate {
        margin-top: 28px;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        &_link {
            margin-right: 98px;
        }
        &_text {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 400;
            color: #2e2d37;
        }
    }
}