.wrapper {
    padding: 48px 0;
    overflow: hidden;
    &__arrow {
        display: none;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        color: #505050;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        &-div {
            max-width: 345px;
            width: 100%;
            #btn {
                display: none;
            }
        }
    }
    &__services {
        margin-top: 35px;
        display: flex;
        &_icon {
            margin-right: 20px;
            width: 32px;
            height: 31px;
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
                height: 100%;
            }
        }
        &_header {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.38;
            color: #7a7a7a;
        }
        &_subheader {
            font-size: 16px;
            font-weight: 400;
            color: #7a7a7a;
            margin-top: 25px;
            span {
                display: inline-block;
                width: 15px;
                height: 11px;
                position: relative;
                &:before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background-color: $green;
                    position: absolute;
                    margin-top: 3px;
                    border-radius: 50%;
                    left: 0;
                }
            }
        }
    }
}